{% extends "base.html" %}

{% block page_content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>股票大数据可视化</title>
</head>
<body>
<div class="mdui-container">
    <div class="mdui-card">
        <div class="mdui-card-header">
            <img class="mdui-card-header-avatar" src="{{ url_for('static', filename='reference/牛牛.jpg') }}"/>
            <div class="mdui-card-header-title">股市可视化分析图表</div>
            <div class="mdui-card-header-subtitle">Visualization</div>
          </div>
        <div class="mdui-card-content">「创业板不来20CM，不亦说乎？龙头战法而不为人知，而不愠，不亦君子乎？」
          </div>
        <div class="mdui-card-content">「创业板不来20CM，不亦说乎？龙头战法而不为人知，而不愠，不亦君子乎？」
          </div>
        <div class="mdui-card-content">「创业板不来20CM，不亦说乎？龙头战法而不为人知，而不愠，不亦君子乎？」
          </div>
    </div>
</div>
</body>
</html>
{% endblock %}